# Level 4 Python (Extra)
--------------|-------|
|Danylo Zdoryk| 233305|
|Dmytro Shelest| 226453|
|Gracjan Grala| 210192|
|Jan Kisielewicz| 210221|

---
## Importing libraries

In [208]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

---
# Reading data and creating data frame using pandas

In [209]:
folder_path = "data_for_extra_exercise\\"
year = '2019'
files = {
    # 'January': f'{folder_path}Sales_January_{year}.csv',
    'February': f'{folder_path}Sales_February_{year}.csv',
    'March': f'{folder_path}Sales_March_{year}.csv',
    'April': f'{folder_path}Sales_April_{year}.csv',
    'May': f'{folder_path}Sales_May_{year}.csv',
    'June': f'{folder_path}Sales_June_{year}.csv',
    'July': f'{folder_path}Sales_July_{year}.csv',
    'August': f'{folder_path}Sales_August_{year}.csv',
    'September': f'{folder_path}Sales_September_{year}.csv',
    'October': f'{folder_path}Sales_October_{year}.csv',
    'November': f'{folder_path}Sales_November_{year}.csv',
    'December': f'{folder_path}Sales_December_{year}.csv',
}
files

{'February': 'data_for_extra_exercise\\Sales_February_2019.csv',
 'March': 'data_for_extra_exercise\\Sales_March_2019.csv',
 'April': 'data_for_extra_exercise\\Sales_April_2019.csv',
 'May': 'data_for_extra_exercise\\Sales_May_2019.csv',
 'June': 'data_for_extra_exercise\\Sales_June_2019.csv',
 'July': 'data_for_extra_exercise\\Sales_July_2019.csv',
 'August': 'data_for_extra_exercise\\Sales_August_2019.csv',
 'September': 'data_for_extra_exercise\\Sales_September_2019.csv',
 'October': 'data_for_extra_exercise\\Sales_October_2019.csv',
 'November': 'data_for_extra_exercise\\Sales_November_2019.csv',
 'December': 'data_for_extra_exercise\\Sales_December_2019.csv'}

In [210]:
df = pd.read_csv("data_for_extra_exercise\Sales_January_2019.csv")

for k,v in files.items():
    df = pd.concat([df, pd.read_csv(v)])

#Showing columns info
df.info()
# Showing values
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

---
## Cleaning data from nulls and other trash

In [211]:
df = df[df['Product'] != 'Product'].dropna()
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

---
## Cast 'Order Date' column to datetime64 type.

In [212]:
temp = []
for order in df['Order Date']:
    # print(order)
    if type(order) == float:
        print(order)
    r,l = order.split(' ')
    temp.append(r[:6] + '20' + r[6:] + ' ' + l)
df['Order Date'] = temp
df['Order Date'] = pd.to_datetime(df['Order Date'], format="%m/%d/%Y %H:%M")
# Showing columns info
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 9.9+ MB

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
25112,319666,Lightning Charging Cable,1,14.95,2019-12-11 20:58:00,"14 Madison St, San Francisco, CA 94016"
25113,319667,AA Batteries (4-pack),2,3.84,2019-12-01 12:01:00,"549 Willow St, Los Angeles, CA 90001"
25114,319668,Vareebadd Phone,1,400,2019-12-09 06:43:00,"273 Wilson St, Seattle, WA 98101"
25115,319669,Wired Headphones,1,11.99,2019-12-03 10:39:00,"778 River St, Dallas, TX 75001"
25116,319670,Bose SoundSport Headphones,1,99.99,2019-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001"

---
## Cleaning by years

In [213]:
df = df[pd.DatetimeIndex(df['Order Date']).year == 2019]

---
## Cast other columns to numeric types

In [219]:
df['Quantity Ordered'].astype(np.int8)
df['Order ID'].astype(np.int64)
df['Price Each'].astype(np.float16)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185916 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185916 non-null  int64
 1   Product           185916 non-null  object
 2   Quantity Ordered  185916 non-null  int8
 3   Price Each        185916 non-null  float16
 4   Order Date        185916 non-null  datetime64[ns]
 5   Purchase Address  185916 non-null  object
dtypes: datetime64[ns](1), float16(1), int64(1), int8(1), object(2)
memory usage: 7.6+ MB

---
## Check are there null values

In [215]:
missing_values_count = df.isnull().sum()
missing_values_count

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64


## Data preparation has been done.
---

---
# Exercises
---

---
## Exercise 1. Prepare a statement showing the totals of the sales amounts for each recorded day in 2019.
---

In [216]:
result = df[['Product', 'Quantity Ordered', 'Price Each', 'Order Date']].groupby([df['Order Date'].dt.date, 'Product', 'Price Each']).sum().reset_index()
result['Multiplication'] = result['Quantity Ordered'] * result['Price Each']
# result
pd.options.display.float_format = '{:.3f}'.format
total_sum = result[['Order Date', 'Multiplication']].groupby('Order Date').sum().rename(columns={'Multiplication':'Total'}).reset_index()
total_sum
# for_plot = total_sum.copy()
# for_plot['Month'] = pd.DatetimeIndex(total_sum['Order Date']).month
# for_plot['Day'] = pd.DatetimeIndex(total_sum['Order Date']).day
# a = for_plot[['Month', 'Day', 'Total']]
# for_plot.groupby('Order Date')

     Order Date      Total
0    2019-01-01  65682.893
1    2019-01-02  70814.283
2    2019-01-03  47047.289
3    2019-01-04  62013.217
4    2019-01-05  46525.682
..          ...        ...
360  2019-12-27 126630.824
361  2019-12-28 134018.254
362  2019-12-29 156027.242
363  2019-12-30 152322.506
364  2019-12-31 131456.648

[365 rows x 2 columns]

### Visualization (heatmap)

In [217]:
# ax = sns.heatmap(for_plot[['Month', 'Day', 'Total']].unstack())
# month = pd.DatetimeIndex(df['Order Date']).month.unique()
# month

---
## Exercise 2. Prepare a list of the 3 products that were sold the most, their total sum of sales amounts and the number of items sold for each quarter of 2019.
---

In [218]:
# q1 = df[pd.DatetimeIndex(df['Order Date']).month <= 3]
# q2 = df[pd.DatetimeIndex(df['Order Date']).month <= 6]
# q2 = q2[pd.DatetimeIndex(q2['Order Date']).month > 3]
# q3 = df[pd.DatetimeIndex(df['Order Date']).month > 6]

result = df[['Product', 'Quantity Ordered', 'Price Each', 'Order Date']].groupby([df['Order Date'].dt.quarter, 'Product', 'Price Each']).sum().reset_index()
result['Total'] = result['Quantity Ordered'] * result['Price Each']
result

# I don't know on which criteria i need to choose he most sold items,

,Order Date,Product,Price Each,Quantity Ordered,Total
0,1,20in Monitor,110.000,787.000,86570.000
1,1,27in 4K Gaming Monitor,390.000,1218.000,475020.000
2,1,27in FHD Monitor,150.000,1502.000,225300.000
3,1,34in Ultrawide Monitor,380.000,1254.000,476520.000
4,1,AA Batteries (4-pack),3.840,5375.000,20639.160
...,...,...,...,...,...
71,4,ThinkPad Laptop,1000.000,1374.000,1374000.000
72,4,USB-C Charging Cable,11.953,8173.000,97692.891
73,4,Vareebadd Phone,400.000,664.000,265600.000
74,4,Wired Headphones,11.992,6957.000,83429.648
75,4,iPhone,700.000,2287.000,1600900.000