# Level 4 Python
--------------|-------|
|Danylo Zdoryk| 233305|
|Dmytro Shelest| 226453|
|Gracjan Grala| 210192|
|Jan Kisielewicz| 210221|

## Importing libraries

In [19]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("D:\Projects\ppdzd\\athlete_events.csv")
# Showing columns info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## Exercise 1
### 1.1 Prepare a summary of the total number of competitors at the Summer and Winter Olympics in the following years.

In [26]:
participants = df[['Year', 'ID']].groupby('Year').count().reset_index().rename(columns={"ID":"Amount"})
participants

    Year  Amount
0   1896     380
1   1900    1936
2   1904    1301
3   1906    1733
4   1908    3101
5   1912    4040
6   1920    4292
7   1924    5693
8   1928    5574
9   1932    3321
10  1936    7401
11  1948    7480
12  1952    9358
13  1956    6434
14  1960    9235
15  1964    9480
16  1968   10479
17  1972   11959
18  1976   10502
19  1980    8937
20  1984   11588
21  1988   14676
22  1992   16413
23  1994    3160
24  1996   13780
25  1998    3605
26  2000   13821
27  2002    4109
28  2004   13443
29  2006    4382
30  2008   13602
31  2010    4402
32  2012   12920
33  2014    4891
34  2016   13688